<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Demo_SBTopAndBottom.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MainEdgesOK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MainOK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>324AD9231BDE70950098CC89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>324AD9371BDE70950098CC89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>324AD9421BDE70950098CC89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>324AD9631BDE7F340098CC89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>324AD9761BDE7F340098CC89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>324AD9811BDE7F340098CC89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>324AD9A81BDE82390098CC89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>324AD9BB1BDE82390098CC89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>324AD9C61BDE823A0098CC89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
